@model AspNetCoreMvcIntroduction.Models.Security.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h3>Register</h3>

    <form asp-controller="Security" asp-action="Register" method="post">

        <div asp-validation-summary="All"></div> <!--All der isek bizim eklediğmiz hatalarda gözükür modelOnly yazarsak sadece modelonly ile olan hatalar.-->

        <input type="text" asp-for="UserName" placeholder="User Name..." /><br>
        <input type="text" asp-for="Password" placeholder="Password..." />
        <input type="text" asp-for="ConfirmedPassword" placeholder="Confirm Password..." />
        <input type="text" asp-for="Email" placeholder="Email..." />
        <input type="text" asp-for="Age" placeholder="Age..." />
        <input type="submit" value="Register"/>
    </form>


</body>
</html>
