
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    Hello from view Index2cshtml
    <!-- https://localhost:44325/home/index2  -->

    <a class="btn btn-danger">Click</a>


</body>

</html>

@*Proje üstüne sağ tıklayıp client side-add libraries diyip jquery ve bootsrap kurduk ama empty mvc açtığımız için wwwrootumuz yok onun içine kurması için en başta wwwroot adında bir dosya açmalıyız*@
